body{
	background-color: #ccc;
}
#email, #password{
	background-color: #ccc;
	border-color: black;
	border-width: 2px;
	margin-bottom: 5px;
}
#login_button{
	font-size: 15px;
	background-color: #69a;
	color: black;
	border-color: black;
	width: 60px;
	height: 30px;
}
#login_button:hover{
	color: #666;
	background-color: #8bd;
	border-color: #666;
}
#container{
	background-color: #ddd;
	width: 250px;
	height: 300px;
	margin: auto;
	text-align: center;
	border-style: solid;
	border-width: 3px;
}
.links:active{
	color: #8bd;
}