body{
	background-color: #ccc;
}
.form{
	background-color: #ccc;
	border-color: black;
	border-width: 2px;
	margin-bottom: 5px;
}
#container{
	background-color: #ddd;
	width: 350px;
	height: 400px;
	margin: auto;
	text-align: center;
	border-style: solid;
	border-width: 3px;
}
#register_button{
	font-size: 15px;
	background-color: #69a;
	color: black;
	border-color: black;
	width: 75px;
	height: 35px;
}
#register_button:hover{
	color: #666;
	background-color: #8bd;
	border-color: #666;
}
.links:active{
	color: #8bd;
}